@import './reset.module.scss';
@import './setting/setting.scss';
@import './layout.module.scss';

body {
  line-height: 1;
  font-family: $font-family;
  color: #3e3e3e;
  letter-spacing: 1px;
}

p {
  line-height: 24px;
}

.h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #3e3e3e;
  margin-bottom: 38px;
  position: relative;
  line-height: 2.4rem;

  &:after {
    content: '';
    position: absolute;
    top: auto;
    bottom: -18px;
    width: 20px;
    height: 3px;
    display: block;
    background-color: #3e3e3e;
  }
}

.h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3e3e3e;
}

.h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: darkcyan;
}

.globalLogo {
  margin-right: 10px;
  font-size: 1rem;
  color: darkcyan;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    position: relative;

    &:before {
      opacity: 0;
      transition: 0.3s all;
    }

    .globalNavigation:hover & {
      span {
        position: relative;

        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -16px;
          margin: auto;
          width: 7px;
          height: 7px;
          border-top: 3px solid cadetblue;
          border-left: 3px solid rgb(245, 188, 0);
          border-radius: 2px;
          transform: rotate(135deg);
          transition: 0.3s all;
        }
      }
      i {
        transform: rotate(180deg);
        border-radius: 2px;
        border-top-right-radius: 18px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 60px;
        position: absolute;
        right: auto;
        left: -4px;
        width: 3px;
        height: 12px;
        transition: 0.3s all;
        background-color: rgb(124, 219, 136);
        opacity: 0.7;
      }
    }
  }

  span {
    display: inline-block;
    margin-left: 10px;
  }

  i {
    width: 3px;
    height: 32px;
    content: '';
    display: inline-block;
    position: relative;
    background-color: cadetblue;
    transition: 0.3s all;
    position: absolute;
  }
}

.globalNavList {
  margin: 0 10px;
  list-style: none;
}

.globalNavLink {
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s all;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

@keyframes navigationBorderColor {
  0% {
    background-color: rgb(177, 176, 164);
  }
  70% {
    background-color: rgb(140, 153, 153);
  }
  100% {
    background-color: rgb(100, 116, 116);
  }
}

.globalNavigation {
  width: 100%;
  padding: 20px 14px;
  background: #fff;
  font-size: 1.8rem;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 4px;
    background-color: #eee;
    opacity: 0.4;
  }

  &:hover {
    &:after {
      animation-name: navigationBorderColor;
      animation-duration: 2s;
      animation-duration: leaner;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.globalfooter {
  margin-top: 48px;
  width: 100%;
  padding: 20px 14px;
  color: darkcyan;
  background: #fbfafa;
  text-align: center;
}

.globalNav {
  display: flex;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button-wrap {
  display: flex;
  width: auto;
  text-align: center;
  justify-content: center;
}

.game-section {
  margin-top: 60px;
}
.mdl-title {
  font-size: 20px;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 30px;

  i {
    font-size: 30px;
    line-height: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.game-value {
  display: block;
  text-align: center;
  font-size: 74px;
  margin: 0 auto;
  line-height: 100px;

  .coment-game & {
    font-size: 40px;
    color: blueviolet;
  }
}

.textbox {
  input {
    padding: 8px 15px;
    font-size: 24px;
    border: 2px solid blueviolet;
    border-radius: 8px;
    margin: 0 3px;
  }
}

.button {
  font-size: 24px;
  margin-right: 4px;
  font-weight: bold;

  > label {
    padding: 10px 15px;

    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid blueviolet;
    color: blueviolet;
    background-color: #fff;
    box-shadow: 4px 4px 5px 2px rgb(0 0 0 / 14%);

    &:hover {
      opacity: 0.7;
      transition: 0.3s all;
      border-color: #3e3e3e;
      color: #3e3e3e;
      box-shadow: none;
    }
  }

  > input {
    display: none;
  }
}

input {
  display: none;

  &[type='checkbox'] {
    + label {
      border-radius: 50%;
      margin: 3px 3px 3px 0;
      padding: 6px 6px;
      background-color: white;
      border: 1px solid blueviolet;
      display: inline-block;
      appearance: auto;
      vertical-align: text-bottom;
      writing-mode: horizontal-tb !important;
      box-sizing: border-box;
    }
  }
  &:checked {
    + label {
      background-color: blueviolet;
    }
  }
}

@import url(https://fonts.googleapis.com/css2?family=Bungee+Spice);
@font-palette-values --colorized {
  font-family: 'Bungee Spice';
  base-palette: 0;
  override-colors: 0 hotpink, 1 purple, 2 white;
}

.spicy {
  font-family: 'Bungee Spice';
  font-palette: --colorized;
}
.ef-bg-section {
  position: relative;
}

.ef-bg {
  font-size: 4rem;
  line-height: 9rem;
  position: relative;
  display: block;
  width: 100%;

  background-image: linear-gradient(to right in hsl, black, white);
}
